<!-- templates/my_business.html -->

{% extends "_base.html" %} {% block content %}
<h2 class="mb-5 text-center text-4xl font-bold">My Business List</h2>

<div class="grid w-full grid-cols-4 gap-6">
  {% for business in businesses %}
  <div class="card rounded-lg bg-white p-4 shadow-md">
    <div class="card-body">
      <a href="{% url 'your_business' business.id %}">
        {% if business.image %}
        <img
          src="{{ business.image }}"
          alt="{{ business.name }}"
          class="h-full max-w-full rounded-xl"
        />
        {% endif %}
        <h3>{{ business.name }}</h3>
        <p>{{ business.id }}</p>

        <p>{{ business.type }}</p>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
