{% extends "_base.html" %} {% block content %}
<form method="POST" class="max-w-sm mx-auto">
  {% csrf_token %}
  <h2>Sign Up</h2>
  {% for field in form %}
  <div class="mb-5">
    <label
      for="{{ field.id_for_label }}"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >{{ field.label }}</label
    >
    <input
      type="{{ field.field.widget.input_type }}"
      name="{{ field.html_name }}"
      value="{{ field.value|default:'' }}"
      id="{{ field.id_for_label }}"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light"
      required
    />
  </div>
  {% endfor %}
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Register new account
  </button>
</form>
{% endblock %}
