<!-- signup.html -->
{% extends "_base.html" %} {% block content %}
<form method="POST" class="mx-auto max-w-sm">
  {% csrf_token %}
  <div class="flex w-full items-center justify-center pb-5">
    <h2 class="text-2xl font-bold">Sign Up</h2>
  </div>
  {% for field in form %}
  <div class="mb-5">
    <label
      for="{{ field.id_for_label }}"
      class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
      >{{ field.label }}</label
    >
    <input
      type="{{ field.field.widget.input_type }}"
      name="{{ field.html_name }}"
      value="{{ field.value|default:'' }}"
      id="{{ field.id_for_label }}"
      class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 shadow-sm focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:shadow-sm-light dark:focus:border-blue-500 dark:focus:ring-blue-500"
      required
    />
    {% if field.errors %}
    <div class="mt-2 text-sm text-red-500">{{ field.errors }}</div>
    {% endif %}
  </div>
  {% endfor %}
  <button
    type="submit"
    class="rounded-lg bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Register new account
  </button>
</form>
{% endblock %}
