<!-- templates/your-business.html -->

{% extends "_base.html" %} {% block content %}
<h2 class="text-center mb-5 font-bold text-4xl">My Business</h2>

<div
  class="bg-white p-4 rounded-lg shadow-md flex items-center justify-center max-w-fit"
>
  <div class="">
    {% if business.image %}

    <figure class="max-w-lg">
      <img
        class="rounded-xl"
        src="{{ business.image }}"
        alt="{{ business.name }}"
      />
      <figcaption
        class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"
      >
        {{ business.name }}
      </figcaption>
    </figure>

    {% endif %}
    <h3>{{ business.name }}</h3>
    <p>{{ business.id }}</p>
    <p>{{ business.type }}</p>
  </div>
</div>
{% endblock %}
